# ================================
# Environment & Secrets
# ================================

.env
*.env


# ================================
# Python
# ================================

venv/
.venv/

__pycache__/
*.py[cod]

.pytest_cache/


# ================================
# IDE
# ================================

.vscode/
.idea/


# ================================
# Qdrant Local Storage
# ================================

data/qdrant_storage/


# ================================
# Local Repository Data
# ================================

data/repos/


# ================================
# OS Files
# ================================

.DS_Store
Thumbs.db